<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pro.shopfee">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name="com.pro.shopfee.MyApplication"
        android:allowBackup="false"
        android:fitsSystemWindows="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity
            android:name="com.pro.shopfee.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.pro.shopfee.activity.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.LoginActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.RegisterActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.DrinkDetailActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.VoucherActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.RatingReviewActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.PaymentMethodActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.CartActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.PaymentActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.ReceiptOrderActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.TrackingOrderActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.ChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.ContactActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.FeedbackActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ChangeLanguageActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.AddressActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.admin.AdminMainActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.admin.AdminFeedbackActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.admin.AdminVoucherActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.admin.AdminAddVoucherActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.admin.AdminToppingActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.admin.AdminAddToppingActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.admin.AdminAddCategoryActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.admin.AdminAddDrinkActivity"
            android:exported="false" />

        <activity
            android:name="com.pro.shopfee.activity.admin.AdminDrinkByCategoryActivity"
            android:exported="false" />
    </application>

</manifest>