<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pro.shopfee">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:fitsSystemWindows="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <service
            android:name=".notification.FirebaseMessaging"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReviewDrinksActivity"
            android:exported="false" />

        <activity
            android:name=".activity.admin.AdminChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DrinkDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VoucherActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RatingReviewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReceiptOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TrackingOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangeLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".activity.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InfoUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminAddVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminToppingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminAddToppingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminAddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminAddDrinkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminDrinkByCategoryActivity"
            android:exported="false" />

    </application>

</manifest>